@font-face {
  font-family: "Heebo";
  src: url(/fonts/Heebo-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url(/fonts/Heebo-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: "Yantramanav";
  src: url(/fonts/Yantramanav-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
:root {
  --color-dark: #000000;
  --color-dark-alternate: #131619;
  --color-light: #FFFFFF;
  --color-dark-gray: #404040;
  --color-light-gray: #C4C4C4;
  --border-radius: 30px;
  --border: 1px solid var(--color-light);
  --font-family-base: "Heebo", sans-serif;
  --font-family-accent: "Yantramanav", sans-serif;
  --input-height: 54px;
  --container-width: 1300px;
  --content-padding-x: 15px;
  --transition-duration: 1.2ms;
  --header-height: 90px;
}

a,
button,
input,
textarea {
  animation-duration: var(--transition-duration);
  transition-duration: var(--transition-duration);
}

body {
  font-family: var(--font-family-base);
  color: var(--color-light-gray);
  font-size: 16px;
  line-height: 1.75;
  background-color: var(--color-dark);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--content-padding-x);
}

.container-wide {
  max-width: 1920px;
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-light);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

a button,
a input,
a textarea,
a svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--color-light);
}

a:hover {
  color: var(--color-light-gray);
}

p {
  margin-block: 0;
}

p:not([class]):not(:last-child) {
  margin-bottom: 24px;
}

.button {
  display: inline-flex;
  align-items: center;
  height: 36px;
  padding-inline: 26px;
  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.2px;
  line-height: 2;
  border: none;
  text-decoration: none;
  border-radius: var(--border-radius);
  text-transform: uppercase;
  background-color: var(--color-light);
  white-space: nowrap;
}

.button.transparent {
  position: relative;
  height: var(--input-height);
  padding-right: 80px;
  background-color: transparent;
  border: var(--border);
  color: var(--color-light);
}

.button.transparent::after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  background: url(img/arrow-right.svg) center/70% no-repeat;
  border: var(--border);
  border-radius: 50%;
}

.button:hover {
  background-color: var(--color-light-gray);
}

.button.transparent:hover {
  color: var(--color-light);
  background-color: var(--color-dark-alternate);
}

.input {
  width: 100%;
  height: var(--input-height);
  padding-inline: 25px;
  color: var(--color-light);
  background-color: transparent;
  border: 1px solid var(--color-light-gray);
  border-radius: var(--border-radius);
}

.input::-moz-placeholder {
  color: var(--color-light-gray);
}

.input::placeholder {
  color: var(--color-light-gray);
}

.input:hover {
  color: var(--color-light);
}

.input:focus {
  color: var(--color-dark);
  background-color: var(--color-light-gray);
}

.header-logo {
  display: flex;
  flex-shrink: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  min-height: var(--header-height);
  padding-inline: 32px;
  background-color: var(--color-dark-alternate);
}

.banner {
  padding-inline: 15px;
}

.title-medium {
  font-size: clamp(20px, 2.08vw, 40px);
  line-height: 1.3;
}

.title-big {
  font-size: clamp(24px, 3.125vw, 60px);
  line-height: 1.2;
}

.backdrop-title {
  position: relative;
  z-index: 2;
}

.backdrop-title::before {
  content: "";
  display: block;
  position: absolute;
  right: calc(100% + 8px);
  width: 26px;
  aspect-ratio: 1;
  background: url(img/plus.svg) center/contain no-repeat;
}

.backdrop-title::after {
  content: attr(data-title);
  position: absolute;
  z-index: -1;
  top: -0.3em;
  left: -0.6em;
  font-family: var(--font-family-accent);
  font-size: 2.8em;
  line-height: 1;
  color: transparent;
  -webkit-text-stroke: 1px var(--color-light-gray);
}

.backdrop-title.centered::after {
  top: -0.25em;
  left: 50%;
  translate: -50% 0;
}

.section-description {
  font-size: clamp 14px, 1.042vw, 20px;
  text-transform: uppercase;
  color: var(--color-light);
  text-align: center;
  margin-bottom: 30px;
}

.header-menu-list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.header-menu-link {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 7px;
       column-gap: 7px;
  height: var(--header-height);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.2px;
}
.header-menu-link .is-current::after {
  content: "";
  width: 5px;
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}

.header-actions {
  display: flex;
  align-items: center;
  -moz-column-gap: 39px;
       column-gap: 39px;
}

.header-burger-button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4px;
  width: 40px;
  height: 40px;
  padding-left: 8px;
  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
  border-radius: var(--border-radius);
}

.header-burger-button-line {
  width: 6px;
  height: 1px;
  background-color: currentColor;
  box-shadow: 16px 0px 0px 0px currentColor;
}

.header-burger-button:hover {
  color: var(--color-light-gray);
  border-color: currentColor;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: var(--color-light);
  padding: 36px 70px;
  min-height: calc(100vh - var(--header-height));
  background-color: var(--color-dark-alternate);
}

.banner-body {
  text-transform: uppercase;
}

.banner-info {
  display: flex;
  align-items: end;
  font-size: clamp(16px, 1.56vw, 30px);
  line-height: 1.27;
  font-weight: 700;
}

.banner-info::before {
  content: "";
  width: clamp(60px, 10.1vw, 194px);
  aspect-ratio: 1;
  background: url(img/Vector.svg) center/contain no-repeat;
  margin-right: 30px;
}

.banner-title {
  font-size: min(18.75vw, 365px);
  line-height: 1;
}

.banner-pagi-list {
  display: flex;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}

.banner-pagi-item {
  display: flex;
}

.banner-pagi-btn {
  width: 10px;
  aspect-ratio: 1;
  padding: 0;
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
}
.banner-pagi-btn .is-current {
  background-color: var(--color-light);
}

.banner-pagi-btn:not(.is-current):hover::after {
  border-color: var(--color-dark-gray);
  flex-direction: row-reverse;
}

.motivation-item:nth-child(even) {
  background-color: var(--color-dark-alternate);
}
.motivation-item:nth-child(even) .motivation-card {
  flex-direction: row-reverse;
}

.motivation-card {
  display: flex;
  justify-content: start;
  align-items: center;
  -moz-column-gap: clamp(30px, 10.42vw, 200px);
       column-gap: clamp(30px, 10.42vw, 200px);
}

.motivation-card-img {
  margin-block: -20px;
}

.motivation-card-body {
  padding-left: 276px;
}

.motivation-card-title:not(:last-child) {
  margin-bottom: 14px;
}

.motivation-card-dscrption {
  max-width: 400px;
}

.motivation-card-dscrption:not(:last-child) {
  margin-bottom: 36px;
}

.tranning-types {
  max-width: 1920px;
  margin-inline: auto;
  padding-top: 70px;
  padding-bottom: 120px;
  position: relative;
  background-color: var(--color-dark);
}

.tranning-types-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px;
}

.tranning-types-item {
  --TranningTypesBckg: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  background: url(img/brake-point.svg) 100% 0/var(--TranningTypesBckg) no-repeat;
  padding-top: var(--TranningTypesBckg);
}

.tranning-types-title {
  font-size: 16px;
}

.join-us-video {
  width: 100%;
  max-width: 960px;
  height: auto;
}

.join-us {
  background-color: var(--color-dark-alternate);
}

.join-us-video-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 30px;
  background: url(img/joinusbackg.jpg) center/cover no-repeat var(--color-dark-alternate);
}

.join-us-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 4px;
       column-gap: 4px;
  width: 200px;
  aspect-ratio: 1;
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-light);
}

.join-us-play-button::after {
  content: "";
  width: 20px;
  aspect-ratio: 1;
  background: url(img/arrow-right.svg) center/contain no-repeat;
  transition-duration: var(--transition-duration);
}

.join-us-play-button:hover {
  color: var(--color-dark);
  background-color: var(--color-light-gray);
}

.join-us-play-button:hover::after {
  filter: invert(1);
}

.join-us-body {
  padding-bottom: 150px;
}

.join-us-title {
  position: relative;
  font-size: clamp(64px, 9.37vw, 180px);
  line-height: 1;
  text-align: center;
  margin-top: -0.4em;
}

.join-us-title::after {
  content: "";
  display: inline-block;
  width: 0.7em;
  aspect-ratio: 1;
  background: url(img/Vector.svg) center/contain no-repeat;
  scale: 1 -1;
  margin-left: 0.14em;
}

.join-us-title:not(:last-child) {
  margin-bottom: 130px;
}

.join-us-form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
}

.join-us-form-subtitle:not(:last-child) {
  margin-bottom: 52px;
}

.join-us-form-input {
  max-width: 400px;
}

.join-us-form-body {
  display: flex;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.locate {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.locate-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px, 15px;
  text-align: center;
}

.locate-title:not(:last-child) {
  margin-bottom: 14px;
}

.locate-description {
  max-width: 490px;
}

.locate-img {
  height: auto;
}

.locate-description:not(:last-child) {
  margin-bottom: 37px;
}

.family {
  background-color: var(--color-dark-alternate);
}

.family-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
  padding-top: 132px;
  padding-bottom: 82px;
  text-align: center;
}

.family-body {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 26px;
       column-gap: 26px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}

.family-image {
  scroll-snap-align: start;
}

.calcule {
  background-color: var(--color-dark-alternate);
  padding-block: 146px;
}

.calcule-inner {
  display: flex;
  align-items: center;
  -moz-column-gap: 36px;
       column-gap: 36px;
}

.calcule-body {
  flex-grow: 1;
  max-width: 627px;
}

.calcule-title:not(:last-child) {
  margin-bottom: 16px;
}

.calcule-description {
  margin-bottom: 30px;
  max-width: 385px;
}

.calcule-form-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px 30px;
}

.calcule-form-body:not(:last-child) {
  margin-bottom: 26px;
}

@media (max-width: 1919px) {
  .motivation-card-img {
    margin-block: -20px;
  }
}
@media (max-width: 1280px) {
  .tranning-types-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1024px) {
  .header {
    flex-wrap: wrap;
    padding-top: 20px;
    row-gap: 10px;
    padding-inline: 15px;
  }
  .header-menu {
    order: 1;
    flex-basis: 100%;
  }
  .motivation-card-img {
    max-width: 30%;
    height: auto;
    padding-block: 50px;
  }
  .motivation-card-body {
    padding-left: 80px;
  }
  .join-us-body {
    padding-bottom: 80px;
  }
  .join-us-title:not(:last-child) {
    margin-bottom: 80px;
  }
  .locate {
    display: flex;
    flex-direction: column-reverse;
  }
  .family-image {
    height: 360px;
  }
}
@media (max-width: 767px) {
  .header {
    padding-top: 10px;
  }
  .header-menu-link {
    height: 32px;
  }
  .header-menu-list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .header-actions {
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  .button {
    padding-inline: 18px;
  }
  .banner-info::before {
    margin-right: 10px;
  }
  .motivation-card,
  .motivation-item:nth-child(even) .motivation-card {
    flex-direction: column-reverse;
  }
  .motivation-card-img {
    max-width: 60%;
  }
  .motivation-card {
    padding-block: 30px;
    row-gap: 30px;
  }
  .motivation-card-body {
    padding-left: 30px;
  }
  .motivation-card-dscrption:not(last-child) {
    margin-bottom: 20px;
  }
  .tranning-types-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .tranning-types-item {
    --TranningTypesBckg: 50px;
    row-gap: 10px;
  }
  .tranning-types-img {
    max-width: 120px;
  }
  .join-us-play-button {
    width: 140px;
  }
  .join-us-title:not(:last-child) {
    margin-bottom: 40px;
  }
  .join-us-form-body {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .locate-body {
    padding-block: 40px;
  }
  .locate-description:not(:last-child) {
    margin-bottom: 20px;
  }
  .family-image {
    height: 180px;
  }
  .family-header {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .family-body {
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
}/*# sourceMappingURL=style.css.map */
